jupyterlab
transformers
datasets
accelerate
peft
trl<0.9.0
bitsandbytes
wandb
huggingface_hub
xformers<0.0.27
opencv-python-headless
streamlit
supervisor
easyocr
fillpdf
prettytable
uvicorn
gunicorn
fastapi
fastapi_pagination
python-multipart



langchain_community==0.2.7
sentence_transformers==3.0.1
chromadb==0.5.4